#popUpDiv{
   z-index: 100;
   position: absolute;
   background-color: rgba(172, 179, 180, 0);
   display: none;
   top: 0;
   left: 0;
   width: 400px;
   height: 300px;
}



 #popUpSuperTypDiv, #popUpSubjectDiv{
   z-index: 100;
   position: absolute;
   background-color: rgba(172, 179, 180, 0);
   display: none;
   top: 0;
   left: 0;
   width: 800px;
   height: 300px;
}



#popUpDiv span,  #popUpSuperTypDiv span, #popUpSubjectDiv span {
   cursor: pointer; 
}

#popupTable, #popupSuperTypTable{
   z-index: 1000;
   position: absolute;
   top: 20px;
   left: 20px;
}

#spanAddChild
{
   cursor: pointer; 
   display: inline-block;
   width: 32px;
   height: 32px;
}

.thDelete{
   cursor: pointer; 
   width: 50px;
}

.trclass:hover { background: #ACB3B4 !important; }
.trclass:hover td { background: transparent; }

.custom-combobox {
		position: relative;
		display: inline-block;
	}
	.custom-combobox-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		margin-left: -1px;
		padding: 0;
	}
	.custom-combobox-input {
		margin: 0;
		padding: 5px 10px;
	}