<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ToDoEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ELTESOFT;PASSWORD=67eltesoft85;PERSIST SECURITY INFO=True;USER ID=OBH_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="EsToDoEntities" connectionString="metadata=res://*/ToDoModell.csdl|res://*/ToDoModell.ssdl|res://*/ToDoModell.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=XE;PASSWORD=ha5ctm;PERSIST SECURITY INFO=True;USER ID=OBH_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="EsToDoEntitiesRemote" connectionString="metadata=res://*/ToDoModell.csdl|res://*/ToDoModell.ssdl|res://*/ToDoModell.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ELTESOFT;PASSWORD=67eltesoft85;PERSIST SECURITY INFO=True;USER ID=OBH_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/EsToDoModell.csdl|res://*/EsToDoModell.ssdl|res://*/EsToDoModell.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ELTESOFT;PASSWORD=67eltesoft85;PERSIST SECURITY INFO=True;USER ID=OBH_TEST&quot;" providerName="System.Data.EntityClient" />
    <add name="EsToDoModellContainer" connectionString="metadata=res://*/EsToDoModell.csdl|res://*/EsToDoModell.ssdl|res://*/EsToDoModell.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=ELTESOFT;PASSWORD=67eltesoft85;PERSIST SECURITY INFO=True;USER ID=OBH_TEST&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>